/*
  Rhythm Typography

  Author: Alexander Kravets @ http://www.slatestudio.com

  Based on Typebase.css & Normalize.css
    - http://necolas.github.io/normalize.css/
    - http://devinhunt.github.io/typebase.css/

  Usage:

  @import "normalize-rails";
  @import "rhythm/typography";

  $baseFontFamily:   'Georgia', serif;
  $headerFontFamily: 'Myriad Pro', sans-serif;
  $codeFontFamily:   'Monaco', monospace;
  $baseFontSize:     20;
  $baseLineHeight:   1.5;
  $h1:               0.33 * 7.3;
  $h2:               0.33 * 4.3;
  $h3:               0.33 * 3.3;

  html {
    @include typography( $baseFontFamily,
                         $headerFontFamily,
                         $codeFontFamily,
                         $baseFontSize,
                         $baseLineHeight,
                         $h1,
                         $h2,
                         $h3 );
  }
*/

@mixin headerSize($fontSize, $baseLineHeight) {
  $lineHeight: ceil(100 * $baseLineHeight * ceil($fontSize / $baseLineHeight) / $fontSize);
  $margin: $lineHeight / 100;
                                        font-size:     $fontSize * 1em;
                                        line-height:   $lineHeight * 1%;
                                        margin-top:    $margin * 1em;
                                        margin-bottom: $margin * 1em;
                                        word-break:    normal;
}

@mixin typography( $baseFontFamily:   serif,
                   $headerFontFamily: sans-serif,
                   $codeFontFamily:   monospace,
                   $baseFontSize:     20,
                   $baseLineHeight:   1.5,
                   $h1:               0.33 * 7.3,
                   $h2:               0.33 * 4.3,
                   $h3:               0.33 * 3.3 ) {

  $leading: $baseLineHeight * 1em;

  /* Container font settings */
                                        font-family: $baseFontFamily;
                                        font-size:   $baseFontSize * 1px;

  /* Copy & Lists */
  p                                   { line-height:   $leading;
                                        margin-top:    $leading;
                                        margin-bottom: $leading;
  }

  /* First passage after h3 */
  h3 + p                              { margin-top: 0; }

  ul, ol                              { margin-top:    $leading;
                                        margin-bottom: $leading;

    li                                { line-height: $leading; }

    ul, ol                            { margin-top:    0;
                                        margin-bottom: 0;
    }
  }

  blockquote                          { line-height:   $leading;
                                        margin-top:    $leading;
                                        margin-bottom: $leading;
                                        font-style:    italic;
                                        text-align:    center;
  }

  /* Headings */
  h1, h2, h3                          { /* Change heading typefaces here */
                                        font-family: $headerFontFamily;
                                        line-height: $leading;
  }
  h1                                  { @include headerSize($h1, $baseLineHeight);
                                        margin-bottom: 0;
  }
  h2                                  { @include headerSize($h2, $baseLineHeight); }
  h3                                  { @include headerSize($h3, $baseLineHeight);
                                        margin-bottom: 0;
  }

  /* Images */
  img                                 { max-width: 100%; }

  /* Tables */
  table                               { margin-top:      $leading;
                                        border-spacing:  0px;
                                        border-collapse: collapse;
  }
  td, th                              { padding:     0;
                                        line-height: $baseLineHeight * $baseFontSize - 0px;
  }

  /* Code blocks */
  code                                { // Forces text to constrain to the line-height.
                                        // Not ideal, but works.
                                        vertical-align : bottom;
                                        // Override normalize default value.
                                        font-family:     $codeFontFamily;
  }
  pre                                 { font-family:    $codeFontFamily;
                                        font-size:      .67em;
                                        line-height:    $leading;
                                        margin-top:     0;
                                        margin-bottom:  0;
                                        padding:        .65em 1em;
                                        vertical-align: bottom;
  }
}