/*
  Rhythm Typography v0.1

  Author: Alexander Kravets @ http://www.slatestudio.com

  Inspired by Medium.com, based on Typebase.css & Normalize.css
    - http://necolas.github.io/normalize.css/
    - http://devinhunt.github.io/typebase.css/

  Usage:

  //= require normalize

  @import "rhythm/typography";

  $baseColor:        rgba(0,0,0,0.8);
  $linkColor:        #222;
  $baseFontFamily:   'Georgia', serif;
  $headerFontFamily: 'Myriad Pro', sans-serif;
  $codeFontFamily:   'Monaco', monospace;
  $baseFontSize:     20;
  $baseLineHeight:   1.5;
  $h1:               0.33 * 7.3;
  $h2:               0.33 * 4.3;
  $h3:               0.33 * 3.3;

  html {
    @include typography( $baseColor,
                         $linkColor,
                         $baseFontFamily,
                         $headerFontFamily,
                         $codeFontFamily,
                         $baseFontSize,
                         $baseLineHeight,
                         $h1,
                         $h2,
                         $h3 );
  }
*/

@mixin mediumLinkUnderline($color)    { color: $color;
                                        background-clip: border-box;
                                        background-image: linear-gradient(rgb(255, 255, 255) 50%, $color 50%);
                                        background-position: 0 1em;
                                        background-repeat: repeat-x;
                                        background-size: 2px 2px;
                                        text-decoration: none;
                                        word-break: break-all;
}

@mixin mediumHorizontalRule($color)   { position: relative;
                                        left: 50%;
                                        width: 4em;
                                        margin: 2.25em 0 2.25em -2em;
                                        border-top-style: solid;
                                        border-top-color: $color;
                                        border-left-width: 0px;
                                        border-right-width: 0px;
                                        border-bottom-width: 0px;
}

@mixin mediumUnorderedList($leading)  { list-style: none;
                                        list-style-image: none;
                                        padding: 0;
  li                                  { margin-left: $leading;
    &:before                          { content: '•';
                                        display: inline-block;
                                        position: absolute;
                                        list-style-type: none;
                                        list-style-image: none;
                                        font-size: 1em;
                                        padding: 0;
                                        margin-left: -1em;
    }
  }
}

@mixin headerSize($fontSize, $baseLineHeight) {
  $lineHeight: ceil(100 * $baseLineHeight * ceil($fontSize / $baseLineHeight) / $fontSize);
  $margin: $lineHeight / 100;
                                        font-size:     $fontSize * 1em;
                                        line-height:   $lineHeight * 1%;
                                        margin-top:    $margin * 1em;
                                        margin-bottom: $margin * 1em;
                                        word-break:    normal;
}

@mixin typography( $baseColor:        rgba(0,0,0,0.8),
                   $linkColor:        #222,
                   $baseFontFamily:   serif,
                   $headerFontFamily: sans-serif,
                   $codeFontFamily:   monospace,
                   $baseFontSize:     20,
                   $baseLineHeight:   1.5,
                   $h1:               0.33 * 7.3,
                   $h2:               0.33 * 4.3,
                   $h3:               0.33 * 3.3 ) {

  $leading: $baseLineHeight * 1em;

  /* Container font settings */
                                        font-family: $baseFontFamily;
                                        font-size: $baseFontSize * 1px;
                                        color: $baseColor;
                                        letter-spacing: 0.02em;

  /* Copy & Lists */
  p                                   { line-height: $leading;
                                        margin-top: $leading;
                                        margin-bottom: $leading;
  }

  /* First passage after h3 */
  h3 + p                              { margin-top: 0; }

  ul, ol                              { margin-top: $leading;
                                        margin-bottom: $leading;
    li                                { line-height: $leading; }
    ul, ol                            { margin-top: 0;
                                        margin-bottom: 0;
    }
  }
  ul                                  { @include mediumUnorderedList($leading); }
  blockquote                          { line-height: $leading;
                                        margin-top: $leading;
                                        margin-bottom: $leading;
                                        font-style: italic;
                                        text-align: center;
  }

  /* Headings */
  h1, h2, h3                          { /* Change heading typefaces here */
                                        font-family: $headerFontFamily;
                                        line-height: $leading;
                                        letter-spacing: 0em;
  }
  h1                                  { @include headerSize($h1, $baseLineHeight);
                                        margin-bottom: 0;
  }
  h2                                  { @include headerSize($h2, $baseLineHeight); }
  h3                                  { @include headerSize($h3, $baseLineHeight);
                                        margin-bottom: 0;
  }

  /* Images */
  img                                 { max-width: 100%; }

  /* Links */
  a                                   { @include mediumLinkUnderline($linkColor);
  }

  /* Horizontal Rule */
  hr                                  { @include mediumHorizontalRule(lighten($baseColor, 80%));
  }

  /* Tables */
  table                               { margin-top: $leading;
                                        border-spacing: 0px;
                                        border-collapse: collapse;
  }
  td, th                              { padding: 0;
                                        line-height: $baseLineHeight * $baseFontSize - 0px;
  }

  /* Code blocks */
  code                                { // Forces text to constrain to the line-height.
                                        // Not ideal, but works.
                                        vertical-align: bottom;
  }

  pre                                 { font-family: $codeFontFamily;
                                        font-size: .67em;
                                        line-height: $leading;
                                        margin-top: 0;
                                        margin-bottom: 0;
                                        padding: .65em 1em;
                                        vertical-align: bottom;
  }
}